<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' >
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
  
  </head>
  <body bgcolor="black">

<%- include('partials/navContainer') %>

<div class="container">

      <div class="row">
      
        <div class="col-md-5">
            <br>
          <br>  
         
<div class="card cardShadow">
<img src="/images/Shivam1.jpg" class="img-fluid rounded">

</div>



</div>
          <br>
          <br>
        
        <div class="col-md-7"> 
         <!--  <span class="zocial-linkedin float-right" ></span>
          &nbsp;
          <span class="zocial-twitter  float-right" ></span> -->
          <br>
          <br>
          <center> <h1>Shivam Verma</h1></center> 
          <br> 
        

          <p class="text-justify">  
              Data Scientist having experience in the field of Decision Analytics, AI/ML, Web crawling and Dashboarding. Have 2 Years + experience working in banking domain for global market. Have made projects using Hive/Sql, Python Programming(Plotly, Dash, Pandas, Numpy, Beautiful Soup, TensorFlow, Keras and etc.) and Excel. 
               
           <center>
            <br>
 
              <form method="get" action="/content/resume.pdf">
                <button type="submit" class="btn btn-lg btn-primary">Download Resume</button>
            </form>



            </center>
          </p>
        </div>
      </div>
      


      </div>      


<%- include('partials/footerNav') %>

  </body>
</html>




</div>